<section class="hero">
    <div class="hero__backside container">
        <div class="hero__wrap">
            <h1>asfdasfaf</h1>
            <p>safsdfsg</p>
            <a href="#">safasdgs</a>
        </div>
    </div>
</section>