$icon-advantages-1: 712px 306px -712px -306px 26px 29px 820px 499px 'sprite.png';
$icon-advantages-2: 789px 161px -789px -161px 29px 31px 820px 499px 'sprite.png';
$icon-advantages-3: 797px 112px -797px -112px 23px 30px 820px 499px 'sprite.png';
$icon-advantages-4: 686px 306px -686px -306px 26px 31px 820px 499px 'sprite.png';
$icon-arrow: 762px 195px -762px -195px 24px 11px 820px 499px 'sprite.png';
$icon-cat-energy-mobile: 692px 261px -692px -261px 101px 18px 820px 499px 'sprite.png';
$icon-cat-mobile: 762px 112px -762px -112px 35px 49px 820px 499px 'sprite.png';
$icon-cat-tablet: 552px 112px -552px -112px 140px 194px 820px 499px 'sprite.png';
$icon-cat: 692px 112px -692px -112px 70px 97px 820px 499px 'sprite.png';
$icon-close: 797px 142px -797px -142px 18px 18px 820px 499px 'sprite.png';
$icon-fb: 738px 306px -738px -306px 14px 28px 820px 499px 'sprite.png';
$icon-footer-logo: 692px 209px -692px -209px 128px 24px 820px 499px 'sprite.png';
$icon-hero-cat: 0px 0px 0px 0px 552px 499px 820px 499px 'sprite.png';
$icon-html: 762px 161px -762px -161px 27px 34px 820px 499px 'sprite.png';
$icon-inst: 759px 233px -759px -233px 23px 23px 820px 499px 'sprite.png';
$icon-logo-mobile2: 552px 362px -552px -362px 191px 38px 820px 499px 'sprite.png';
$icon-pantera-mobile: 692px 233px -692px -233px 67px 28px 820px 499px 'sprite.png';
$icon-pantera-tablet: 552px 0px -552px 0px 268px 112px 820px 499px 'sprite.png';
$icon-pantera: 552px 306px -552px -306px 134px 56px 820px 499px 'sprite.png';
$icon-vk: 782px 233px -782px -233px 30px 16px 820px 499px 'sprite.png';
