$icon-cat-energy-mobile: 191px 499px -191px -499px 101px 18px 552px 537px 'sprite.png';
$icon-close: 292px 499px -292px -499px 18px 18px 552px 537px 'sprite.png';
$icon-hero-cat: 0px 0px 0px 0px 552px 499px 552px 537px 'sprite.png';
$icon-logo-mobile2: 0px 499px 0px -499px 191px 38px 552px 537px 'sprite.png';
