<header class="header">
    <div class="container">
        <div class="nav__button hide-desktop">
            <button class="js-menu-toggle"></button>
        </div>
        <nav class="nav">
            <div class="nav__logo"></div>
            <ul class="nav__list">
                {% for item in list %}
                    <li class="nav__item">
                        <a href="#" class="nav__link">{{ item.caption }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>